.zone {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap : 10px;
    border: 2px dashed grey;
    border-radius: 20px;
    width: fit-content;
    min-height: 200px;
    min-width: 400px;
    height: 100%;
    margin: 40px auto 80px auto;
    &__container {
        transition: height 2500ms;
        height : auto;
        margin-bottom: 20px;
    }
    &__container--hidden{
        height: 0;
        visibility: hidden;
    }
    &--padding {
        padding: 10px;
    }
  }
